.account-box{
    height: 3.6rem;
    overflow: hidden;
}
.account-info{
    width: 100%;
    text-align: center;
    color: #fff;
}
.account-info>dt{
    margin: 1rem 0px .72rem;
    font-size: .3rem;
    line-height: .36rem;
}
.account-info>dd{
    font-size: .78rem;
}
.container{
    padding: 0px;
}
.account-list{
    height:1.2rem;
    overflow: hidden;
    padding:0px .3rem;
}

.account-detail{
    margin-top:.24rem;
    font-size:.3rem;
    line-height:.3rem;
    overflow: hidden;
}

.account-detail >span{
    float: left;
}

.account-detail >em{
    float: right;
}

.account-date{
    margin-top: .16rem;
    font-size: .22rem;
}