@import "mine.css";
.account-top{
    height:3.6rem;
    color:#fff;
    text-align:center;
    overflow: hidden;
}

.account-top >div:first-child{
    margin-top:1rem;
    font-size:.3rem;
}

.account-top >div:last-child{
    margin-top:.7rem;
    font-size:.8rem;
}

.account_detail-row-container{
    background-color:#fff;
    overflow: hidden;
}

.account_detail-row-container .row{
    display: block;
    height:1.2rem;
    overflow: hidden;
    padding:0 .3rem;
}

.account_detail-row-container .row-1{
    margin-top:.24rem;
    font-size:.3rem;
    line-height:.3rem;
    overflow: hidden;
}

.account_detail-row-container .row-1 >span:first-child{
    float:left;
}

.account_detail-row-container .row-1 >span:last-child{
    float:right;
}

.account_detail-row-container .row-2{
    margin-top:.16rem;
    font-size:.22rem;
}