#back{
	position: absolute;
	left: .26rem;
	top: .26rem;
}
.edit{
	position: absolute;
	right: .26rem;
	top: .26rem;
	font-size: .28rem;
	color: #fff;
}
.info-box{
	margin: 1.2rem .42rem .9rem;
	padding-right: 1.2rem;
	overflow: hidden;
	position: relative;
}
.info-box>dt,.info-box>dd{
	float: left;
}
.info-box>dd{
	margin:.1rem .26rem;
	font-size: .28rem;
	color: #fff;
}
.info-box .signin{
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	width: .92rem;
	height: .92rem;
	line-height: .92rem;
	font-size: .3rem;
	border-radius: 50%;
	text-align: center;
}
.signin-bg{
	background-color: #ffc600;
}
.signup-bg{
	background-color: #4ed8c8;
}
.signed-bg{
	background-color: #ccc;
}
.avater{
	width: 1.32rem;
	height: 1.32rem;
}
.avater>img{
	width: 100%;
	border-radius: 50%;
}
.info-box .name{
	line-height: .72rem;
}
.container{
	padding: 0px 0px 1rem;
}
.upload-avater{
	background-color: #fff;
}
.upload-limit{
	font-size: .3rem;
	padding: .3rem;
}
.avater-list-wrap{
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 0px .3rem;
}
.avater-list-box{
	min-width: 100%;
	overflow: hidden;
}
.mask{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10001;
	width: 100%;
	height: 100vh;
}
.choose-op{
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 1rem;
	font-size: .3rem;
	line-height: 1rem;
	padding: 0px .3rem;
	color: #fff;
}
.weui_uploader_files{
	float: left;
	overflow: hidden;
}
.weui_uploader_file{
	position: relative;
}
.weui_uploader_file>i{
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 16px;
	height: 16px;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	background-color: #999;
}
.weui_uploader_file>img{
	width: 100%;
	height: 100%;
}
.base-info{
	margin-top: .26rem;
	padding: 0px .4rem;
	background-color: #fff;
}
.cell{
	position: relative;
	padding: .3rem  0px;
	overflow: hidden;
}
.cell>em{
	float: right;
	font-size: .3rem;
	line-height: .5rem;
}
.cell-label{
	display: inline-block;
	float: left;
	width: 20%;
	font-size: .3rem;
	line-height: .5rem;
}
.cell-input{
	display: inline-block;
	float: right;
	width: 80%;
	text-align: right;
	font-size: .3rem;
	line-height: .5rem;
}
.tag{
	padding: .3rem .4rem;
	background-color: #fff;
}
.tag>h1{
	font-size: .3rem;
	font-weight: lighter;
}
.mood-icon{
	float: right;
	line-height: .2rem;
}
.mood-icon>i{
	display: inline-block;
	width: .5rem;
	height: .5rem;
	margin-left: .2rem;
}
.icon.icon-108{
	position: absolute;
	top: .3rem;
	right: 0px;
	font-size: .2rem;
	line-height: .5rem;
	color: #ccc;
}