html, body{
    margin:0;
    padding:0;
}
p,em, img, strong ,i,dl,  ul, footer, header, li,ul,dd,dt,dl,input,div {
    box-sizing: border-box;
    -webkit-box-sizing : border-box;  
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: normal;
    vertical-align:baseline;
    background:transparent;
}
body {
    min-width: 320px;
    max-width: 640px;
    margin: 0px auto;
    -webkit-overflow-scrolling : touch;
}
ul,li {
    list-style:none;
}
em,i{
    font-style: normal;
}
input, select {
    vertical-align:middle;
}
strong{
    font-style: normal;
    font-weight: normal
}