html, body,p,em, img, small, strong, sub, sup, var, i,dl, ol, ul,form, label,table, caption, tbody, tfoot, thead, tr, th, td,footer, header, hgroup, nav,li,ul,dd,dt,dl,input,div {
    box-sizing: border-box;
    -webkit-box-sizing : border-box;  
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: normal;
    vertical-align:baseline;
    background:transparent;
}
body {
    min-width: 320px;
    max-width: 640px;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    margin: 0px auto;
}
ul,li {
    list-style:none;
}
em,i{
    font-style: normal;
}
input, select {
    vertical-align:middle;
}
strong{
    font-style: normal;
    font-weight: normal
}